#board {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.board__sources__source,
.board__targets__target {
  margin: 25px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #fc9898;
  font-size: 50px;
  float: left;
  background-color: aliceblue;
  text-transform: uppercase;
}
.count {
  font-size: 20px;
}

.board__targets__target--circle {
  border-radius: 50%;
}
.board__targets__target--square {
  display: inline-block;
}
#board__drops {
  display: inline-block;
  width: 75%;
}
.board__drops__drop {
  display: flex;
  justify-content: space-around;
}
.board__drops__drop__source {
  margin: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.board__drops__drop__target {
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  background-color: #e4e4e4;
}
.board__drops__drop__target--circle {
  display: inline-block;
  border-radius: 50%;
}
.board__drops__drop__target--square {
  display: inline-block;
}